.contact {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #d9d9d9;
	&__form {
		position: absolute;
		left: 50%;
		top: 50%;
		min-height: 550px;
		height: 65%;
		width: 60%;
		transform: translate(-50%, -60%);
		background-image: linear-gradient(
				105deg,
				rgba(#262626, 0.5) 0%,
				rgba(#262626, 0.5) 50%,
				transparent 50%
			),
			url(../images/formimg.jpg);
		background-size: 100%;
		background-position: center;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba(black, 0.2);
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 10vh;
	background-color: black;
}

.form {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 40px;
	&__heading {
		padding: 10px;
		margin-bottom: 15px;
		font-size: 30px;
	}
	&__group {
		margin-bottom: 20px;
	}
	&__input {
		font-size: 15px;
		font-family: inherit;
		padding: 15px 20px;
		border-radius: 2px;
		background-color: rgba(#d9d9d9, 0.5);
		color: black;
		border: none;
		border-bottom: 3px solid transparent;
		width: 90%;
		display: block;
		transition: all 0.3s;
		&:focus {
			outline: none;
			box-shadow: 0 10px 20px rgba(black, 0.1);
			border-bottom: 3px solid #d9d9d9;
		}
		&:invalid {
			border-bottom: 3px solid red;
		}
	}
	&__label {
		font-size: 12px;
		font-weight: 700;
		margin-left: 20px;
		margin-top: 7px;
		display: block;
		transition: all.3s;
	}
	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
		color: black;
	}
	&__radio-container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 90%;
	}
	&__radio-group {
		display: flex;
		align-items: center;
		width: 45%;
	}
	&__radio-input {
		width: 1.5rem;
		height: 1.5rem;
		background-color: #262626;
		cursor: pointer;
	}

	&__radio-label {
		font-size: 15px;
		cursor: pointer;
		color: #d9d9d9;
		padding-left: 1rem;
	}

	&__button {
		align-self: center;
		transform: translateX(-10%);
		width: 40%;
		height: 60px;
		margin-top: 40px;
		border: none;
		background-color: #d9d9d9;
		color: #262626;
		font-family: inherit;
		font-size: 20px;
		border-radius: 3px;
		text-align: center;
		font-weight: bold;
	}
}
