.header {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	&-container {
		display: flex;
		position: absolute;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 40%;
		height: 20%;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		// background-color: red;
	}
	&__button {
		padding: 20px 80px;
		background-color: #d9d9d9;
		border: none;
		font-family: inherit;
		font-size: 20px;
		color: black;
		font-weight: bold;
	}
	&__heading {
		color: #d9d9d9;
	}
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	&__content {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
