.nav {
	position: fixed;
	height: 100px;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	z-index: 10;
}
.nav-list {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	list-style-type: none;
}

.nav-button {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 1px solid black;
	background-color: #ccc;
}
