.main {
	display: flex;
	position: relative;
	height: 100vh;
	width: 100%;
	background: rgb(210, 198, 198);
	background: linear-gradient(
		93deg,
		rgba(210, 198, 198, 1) 0%,
		rgba(105, 105, 105, 1) 100%
	);
	&__container {
		display: flex;
		align-items: center;
		flex-basis: 100%;
		height: 100%;
		margin-left: 10rem;
	}
	&__navigation {
		display: flex;
		align-items: center;
		min-width: 60px;
		width: 4vw;
		height: 100%;
		background-color: #262626;
		z-index: 1;
		&-list {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			height: 30%;
		}
	}

	&__content {
		height: 80%;
		min-width: 800px;
		width: 60%;
		background-color: #ccc;
		box-shadow: 0 1.5rem 4rem rgba(black, 0.2);
		&-heading {
			width: 80%;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 20px;
			margin-top: 50px;
			// border-bottom: 1px solid orange;
		}
		&-text {
			width: 70%;
			padding: 40px;
			font-size: 18px;
			line-height: 25px;
		}
	}
	&__content-image {
		position: relative;
		min-width: 350px;
		width: 20%;
		min-height: 450px;
		height: 50%;
		// background-color: #262626;
		transform: translateX(-50%);
		// overflow: hidden;
		perspective: 150rem;
		-moz-perspective: 150rem;
		transition: all 0.8s;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 90%;
			min-height: 90%;
			z-index: 20;
		}
	}
}

.card {
	// FUNCTIONALITY
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 100%;

	&__side {
		// height: 52rem;
		transition: all 0.8s ease;
		position: absolute;
		// top: 0;
		// left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
		border: 3px solid #262626;
		&--front {
			height: 100%;
			width: 100%;
		}

		&--back {
			transform: rotateY(180deg);
			height: 100%;
			background-image: linear-gradient(to right bottom, #eee, #d9d9d9);
		}
		&-heading {
			padding: 30px;
		}
		&-text {
			padding: 30px;
			text-align: justify;
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}
}
